/* Skatās visu body elementu */
body {
    background-color:#1f7a1f;
}

/* Skatās visu body elementu gaišajā režīmā*/
.light-mode {
    background-color: #fefae0;
}

/* Skatās visu header elementu */
.galvene {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #015224;
    border: 1px solid #015224;
    padding: 10px;
    width: auto;
}

/* Skatās visu header elementu gaišajā režīmā*/
.light-mode .galvene {
    background-color: #0DCBCE;
    border: 1px solid #0DCBCE;
}

/* Skatās mājaslapas logo un nosaukumu, kā kopumu */
.nosaukums {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* Skatās mājaslapas logo */
#logo {
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
    margin: 5px 0 5px 20px;
}

/* Skatās mājaslapas nosaukumu */
#portālaNosaukums {
    color: white;
}

/* Skatās mājaslapas nosaukumu gaišajā režīmā*/
.light-mode #portālaNosaukums {
    color: #000000;
}

/* Skatās visus navigācijas pogas kopumu */
nav {
    display: flex;
    margin-left: auto;
}

/* Skatās navigācijas pogas kopumu */
ul {
    gap: 15px;
    list-style: none;
}

/* Skatās navigācijas pogas */
.nav-link {
    color: white;
    position: relative;
    right: 28px;
    max-width: 100px;
    width: auto;
    margin-right: -18px;
}

/* Skatās navigācijas pogas gaišājā režīmā*/
.light-mode .nav-link {
    color: #000000;
}

/* Skatās navigācijas pogas ja uzliek kursoru gaišājā režīmā*/
.light-mode .nav-link:hover {
    color: white;
}

/* Skatās lietotāja un opciju ikonām navigācijā */
.lietotajaIcona, #opcijas {
    display: inline-block;
    max-height: 30px;
    max-width: 30px;
    height: auto;
    width: auto;
}

/* Skatās opciju ikonu navigācijā */
#opcijas {
    transition: 0.4s;
}

/* Skatās profila sekciju */
#profilaLaukums {
    display: none;
    position: absolute;
    top: 100%;
    right: 35px;
    max-width: 250px;
    width: auto;
    height: 0;
    background-color: #1f7a1f; 
    border: 3px solid #015224;
    border-top: 3px solid #015224;
    transition: 0.4s;
    z-index: 2;
}

/* Skatās profila sekciju gaišajā režīmā*/
.light-mode #profilaLaukums {
    background-color: #fefae0; 
    border: 3px solid #0DCBCE;
    border-top: 3px solid #0DCBCE;
}

/* Skatās profila sekcijā esošās pogas dizainu kopumu */
#profilaLaukums ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 30px;
}

/* Skatās profila sekcijā esošās pogas dizainu individuāli*/
.profilaStatuss {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #015224;
}

/* Skatās profila sekcijā esošās pogas dizainu individuāli gaišajā režīmā */
.light-mode .profilaStatuss {
    color: black !important;
    background-color: #0DCBCE;
}

/* Skatās profila sekcijā esošās pogas dizainu individuāli, ja novieto kursoru gaišajā režīmā */
.light-mode .profilaStatuss:hover {
    color: white !important;
}

/* Skatās profila sekcijā esošās pogu kas ļauj izrakstīties no profila*/
#iziesana {
    position: relative;
    top: 25px;
}

/* Skatās pašu opciju sadaļu */
#opcijuLaukums {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    height: 0;
    background-color: #1f7a1f; 
    color: white;
    border: 3px solid #015224;
    border-top: 3px solid #015224;
    transition: 0.4s;
    z-index: 2;
}

/* Skatās pašu opciju sadaļu gaišajā režīmā*/
.light-mode #opcijuLaukums {
    background-color: #fefae0;
    color: black;
    border: 3px solid #0DCBCE;
    border-top: 3px solid #0DCBCE;
}

/* Skatās opcijas sadaļā fona izmaiņu daļu */
.fonaIzmaiņas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    gap: 3px;
    border: 3px solid black;
    border-top: none;
}

/* Skatās opcijas sadaļā fona izmaiņu pogu */
#fonaIzmaiņasPoga {
    display: flex;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* Skatās opcijas sadaļā fona izmaiņu ikonu */
#themeIkona {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

/* Skatās opcijas sadaļā valoda izmaiņu daļu */
#valodaIzmaiņas {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Skatās opcijas sadaļā valoda izmaiņu selektoru */
#valoda {
    background-color: #015224;
    color: white;
    border: 1px solid black;
}

/* Skatās opcijas sadaļā valoda izmaiņu selektoru gaišajā režīmā*/
.light-mode #valoda {
    background-color: #0DCBCE;
    color: black;
}

/* Skatās visu footer elementu */
footer {
    position: static;
    background-color: #015224;
    border: 1px solid #015224;
}

/* Skatās visu footer elementu gaišajā režīmā */
.light-mode footer {
    background-color: #0DCBCE;
    border: 1px solid #0DCBCE;
}

/* Skatās footer tekstu */
footer p {
    color: white;
    padding-left: 10px;
}

/* Skatās footer tekstu gaišajā režīmā */
.light-mode footer p {
    color: black;
}