/* Skatās visu body elementu */
body {
    background-color:#1f7a1f;
}

/* Skatās visu header elementu */
.galvene {
    display: flex;
    align-items: center;
    background-color: #015224;
    border: 1px solid #015224;
    padding: 10px;
}

/* Skatās mājaslapas logo un nosaukumu, kā kopumu */
.nosaukums {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* Skatās mājaslapas logo */
#logo {
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
    margin: 5px 0 5px 20px;
}

/* Skatās mājaslapas nosaukumu */
#portālaNosaukums {
    color: white; /* #6c757d white */
}

/* Skatās visus navigācijas pogas kopumu */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    left: 450px;
}

/* Skatās navigācijas pogas kopumu */
ul {
    gap: 5px;
    list-style: none;
}

/* Skatās navigācijas pogas */
.nav-link {
    color: white;
}

/* Skatās nopirktā groza, lietotāja un opciju ikonām navigācijā */
#grozs, #lietotajs, #opcijas {
    display: inline-block;
    max-height: 30px;
    max-width: 30px;
    height: auto;
    width: auto;
}

/* Skatās pašu opciju sadaļu */
#opcijuLaukums {
    display: block;
    position: fixed;
    top: 55px;
    right: 0;
    width: 400px;
    height: 0;
    background-color: #1f7a1f;
    color: white;
    border: 3px solid #015224;
    overflow: hidden;
    transition: 0.4s;
    z-index: 3;
}

/* Skatās opcijas sadaļā fona izmaiņu daļu */
.fonaIzmaiņas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    gap: 3px;
    border: 3px solid black;
}

/* Skatās opcijas sadaļā fona izmaiņu pogu */
#fonaIzmaiņasPoga {
    display: flex;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* Skatās opcijas sadaļā fona izmaiņu ikonu */
#themeIkona {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

/* Skatās visu footer elementu */
footer {
    position: static;
    background-color: #015224;
    border: 1px, solid #015224;
}

/* Skatās footer tekstu */
footer p {
    color: white;
    padding-left: 10px;
}