/* Skatās profila pieteikšanās laukumu */
#pieteiksanas {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    top: 150px;
    gap: 10px;
    border: 2px solid black;
    max-width: 400px;
    max-height: 500px;
    height: auto;
    width: auto;
    margin-bottom: 330px; 
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: #015224;
    color: white;
}

/* Skatās profila pieteikšanās laukumu gaišajā režīmā*/
.light-mode #pieteiksanas {
    background-color: #0DCBCE;
    color: black;
}

/* Skatās kļūdas kas rodās profila pieteikšanā */
#errors {
    text-align: center;
}

/* Skatās profila pieteikšanās formu */
#pieteiksanas form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Skatās profila pieteikšanās pogu */
#pieteiksanasPoga {
    display: flex;
    justify-self: center;
    background-color: #1f7a1f;
    color: white;
    border: 2px solid black;
}

/* Skatās profila pieteikšanās pogu gaišajā režīmā*/
.light-mode #pieteiksanasPoga {
    background-color: white;
    color: black;
}

/* Skatās profila pieteikšanās pogu, ja uz tām pieliks kursoru */
#pieteiksanasPoga:hover {
    border-color: #0a58ca;
}

/* Skatās profila pieteikšanās pogu, ja uz tām pieliks kursoru gaišajā režīmā*/
.light-mode #pieteiksanasPoga:hover {
    color: #073C8D;
}

/* Skatās footer elementu šajā failā */
footer {
    position: relative;
}