/* Skatās gan mājaslapas ievada sadaļu, gan arī maršruta meklēšanas sadaļu */
#galvenaSekcija, #maršrutuMeklēšana {
    position: relative;
    text-align: center;
    margin: auto;
    z-index: 1;
    color: white;
}

/* Skatās mājaslapas aizmugures bildi */
#vilcienaSkats {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(5px);
}

/* Skatās mājaslapas ievada sadaļu */
#galvenaSekcija {
    display: block;
}

/* Skatās mājaslapas sākuma tekstu */
#sveiciens, #apraksts, #funkcijuSākums {
    position: relative;
    z-index: 1;
    color: black;
    font-weight: bold;
}

/* Skatās mājaslapas sākuma tekstu */
#sveiciens {
    font-size: 45px;
}

/* Skatās par mājaslapas funkciju sarakstu */
#funkcijas {
    position: relative;
    z-index: 1;
    color: black;
    list-style-type: disc;
    text-align: justify;
    justify-self: center;
    font-weight: bold;
    max-width: 650px;
    height: auto;
}

/* Skatās par mājaslapas funkciju saraksta elementiem */
#funkcijas li {
    padding-bottom: 10px;
}

/* Skatās par pogu, kas nomaina no sākuma sadaļas uz meklēšanas sadaļu */
#meklet {
    position: relative;
    z-index: 1;
    background-color: #015224;
    border: 1px solid black;
}

/* Skatās maršruta meklēšanas sadaļu */
#maršrutuMeklēšana {
    display: none;
}

/* Skatās maršruta meklēšanas sadaļu */
#maršrutuMeklēšanasSadaļa {
    display: block;
    z-index: 1;
    position: relative;
    background-color: #1f7a1f;
    border-color: #1f7a1f;
    max-width: 700px;
    width: auto;
    left: 425px;
    top: 80px;
    max-height: 200px;
    height: auto;
}

/* Skatās maršruta meklēšanas sadaļas atcelt pogu */
#atcelt {
    position: relative;
    top: 2px;
    left: 325px;
    background-color: transparent;
    border: none;
}

/* SKatās maršruta meklēšanas sadaļas atcelt pogas ikonu */
#atceltIcona {
    object-fit: cover;
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
}

/* Skatās maršruta meklēšanas formu */
#meklesanasForma {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

/* Skatās maršruta meklēšanas formas labels */
#meklesanasForma label {
    color: white;
    padding-bottom: 5px;
}

/* Skatās maršruta meklēšanas formas pogu */
#meklet {
    height: 100%;
    align-self: center;
    margin-top: 10px;
    background-color: #015224;
    border: black solid 1px;
}

/* Skatās maršruta meklēšanas formas pogu, ja uz tām pieliks kursoru */
#meklet:hover {
    border-color: #0a58ca;
}

/* Skatās vizualizācijas mapes sadaļu */
#vizuālāMapesLaukums {
    display: inline-block;
    position: relative;
    border: 2px solid black;
    max-width: 800px;
    width: auto;
    margin-left: 500px;
    padding: 20px 20px;
    background-color: #015224;
    right: 105px;
}

/* Skatās vizualizācijas mapes virsrakstu */
#vilcienaMapesVirsraksts {
    display: flex;
    justify-self: center;
    text-align: center;
    color: white;
}

/* Skatās uz pogas kura atver vai aizver dzelzceļa filtrēšanu */
#atvertFiltresanuPoga {
    display: flex;
    position: relative;
    background-color: transparent;
    max-height: 50px;
    height: auto;
    max-width: 75px;
    width: auto;
    border: none;
    justify-self: center;
    margin-bottom: 20px;
}

/* Skatās uz dzelzceļa filtrēšanas sadaļas atvēršanas un aizvēršanas pogas ikonu*/
#atvertFiltresanuIkona {
    object-fit: cover;
    max-height: 50px;
    max-width: 75px;
    height: auto;
    width: auto;
}

/* Skatās uz dzelzceļa filtrēšanas sadaļu */
#filtresanasSadala {
    display: none;
    background-color: #1f7a1f;
    color: white;
    transition: 0.5s;
    border: 2px solid black;
    max-height: 250px;
    max-width: 400px;
    min-width: 350px;
    width: auto;
    justify-items: center;
    margin-bottom: 10px;
    justify-self: center;
}

/* Skatās uz dzelzceļa filtrēšanas virsrakstu */
#filtresanasTituls {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Skatās pašu leaflet vizualizācijas mapi */
#vilcienaMape {
    display: flex;
    justify-self: center;
    height: 500px;
    width: 690px;
}