/* Skatās gan mājaslapas ievada sadaļu, gan arī maršruta meklēšanas sadaļu */
#galvenaSekcija, #maršrutuMeklēšana {
    position: relative;
    text-align: center;
    margin: auto;
    z-index: 1;
    color: white;
}

/* Skatās mājaslapas aizmugures bildi */
#vilcienaSkats {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(5px);
}

/* Skatās mājaslapas ievada sadaļu */
#galvenaSekcija {
    display: block;
}

/* Skatās mājaslapas sākuma tekstu */
#sveiciens, #apraksts, #funkcijuSākums {
    position: relative;
    z-index: 1;
    color: black;
    font-weight: bold;
}

/* Skatās mājaslapas sākuma tekstu */
#sveiciens {
    font-size: 45px;
}

/* Skatās par mājaslapas funkciju sarakstu */
#funkcijas {
    position: relative;
    z-index: 1;
    color: black;
    list-style-type: disc;
    text-align: justify;
    justify-self: center;
    font-weight: bold;
    max-width: 650px;
    height: auto;
}

/* Skatās par mājaslapas funkciju saraksta elementiem */
#funkcijas li {
    padding-bottom: 10px;
}

/* Skatās par pogu, kas nomaina no sākuma sadaļas uz meklēšanas sadaļu */
#meklet {
    position: relative;
    z-index: 1;
    background-color: #015224;
    border: 1px solid black;
}

/* Skatās maršruta meklēšanas sadaļu */
#maršrutuMeklēšana {
    display: none;
}

/* Skatās maršruta meklēšanas sadaļu */
#maršrutuMeklēšanasSadaļa {
    display: block;
    z-index: 1;
    position: relative;
    background-color: #1f7a1f;
    border-color: #1f7a1f;
    max-width: 700px;
    width: auto;
    left: 310px;
    top: 80px;
    max-height: 200px;
    height: auto;
}

/* Skatās maršruta meklēšanas sadaļas atcelt pogu */
#atcelt {
    position: relative;
    top: 2px;
    left: 325px;
    background-color: transparent;
    border: none;
}

/* SKatās maršruta meklēšanas sadaļas atcelt pogas ikonu */
#atceltIcona {
    object-fit: cover;
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
}

/* Skatās maršruta meklēšanas formu */
#meklesanasForma {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

/* Skatās maršruta meklēšanas formas labels */
#meklesanasForma label {
    color: white;
    padding-bottom: 5px;
}

/* Skatās maršruta meklēšanas formas pogu */
#meklet {
    height: 100%;
    align-self: center;
    margin-top: 10px;
    background-color: #015224;
    border: black solid 1px;
}