/* mājaslapas logo kas ir navigācijas sadaļā */
#logo {
    height: 50px;
    margin-right: 10px;
    padding-left: 10px;
}

/* #grozs, #lietotajs un .nav-link img ir priekš navigācijā groza, lietotāja un opciju iconām */
#grozs, #lietotajs, #opcijas {
    height: 30px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.nav-link img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%;
}

/* nodrošina to, ka div būs virs fona bildes */
#galvenaSekcija, #maršrutuMeklēšana {
    z-index: 1;
    position: relative;
    text-align: center;
}

/* galvenās sekcijas fona bilde */
#vilcienaSkats {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(5px);
}

/* nodrošina to, ka funkcijas saraksts būs pa vidu */
#funkcijas {
    max-width: 720px;
    text-align: left;
    font-size: 125%;
    margin-left: auto;
    margin-right: auto;
}

/* nodrošina to, ka galvenās div elementi būs virs fona bildes*/
#funkcijas, #sveiciens, #apraksts, #funkcijuSākums, #meklet{
    z-index: 1;
    position: relative;
    font-weight: bold;
}

/* nodrošina to, ka footer teksts būs ekrāna kreisajā pusē un baltā krāsā*/
footer p {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    color:white;
}

/* nomaina navigācijas sadaļas tekstu */
.nav-link {
   color: white;
}

/* pašas mājaslapas fons */
body {
    background-color: #1f7a1f;
}

/* vilciena maršruta meklēšanas funkcijas parādīšanas pogas fons */
#meklet {
    background-color: #1f7a1f;
    border-color: #1f7a1f;
}

/* pašas mājaslapas galvenes sadaļa */
.galvene {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: solid, 1px;
    background-color: #015224; /* #328d5a #015224 */
    display: flex;
}

/* pašas mājaslapas navigācijas sadaļa */
nav {
    padding-left: 50%;
    padding-right: -50%;
}

/* pašas mājaslapas nosaukums */
.nosaukums {
    display: flex;
    align-items: center;
}

/* pašas mājaslapas portāla nosaukums */
#portālaNosaukums {
    margin-bottom: 3px;
    color: white; /* #6c757d white */
    white-space: nowrap;
}

/* pašas mājaslapas apraksts */
#apraksts {
    font-size: 125%;
}

/* pašas mājaslapas footer */
footer {
    border: solid, 1px;
    background-color: #015224; /*#328d5a #015224 */
    margin-bottom: -20px;
}

/* par maršruta meklēšanas sadaļu */
#maršrutuMeklēšana {
    display: none;
    background-color: grey;
}

/* par navigācijas sadaļas izskārtojumu */
ul {
    width: 110%;
    margin-left: -10%;
}

/* ekrāniem kas ir vizamz 1200 x 80 izmērā*/
@media (min-width: 1280px) {

    /* nodrošina to, ka footer tukšumus nerādīs */    
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}