/* Skatās pogu kura parādīs meklēšanas sadaļu */
#atvērtMeklšanuPoga {
    display: flex;
    position: relative;
    background-color: transparent;
    max-height: 50px;
    height: auto;
    max-width: 75px;
    width: auto;
    border: none;
    justify-self: center;
}

/* Skatās pogas ikonu kura parādīs meklēšanas sadaļu */
#atvērtmeklēšanuIkona {
    object-fit: cover;
    max-width: 75px;
    max-height: 50px;
    width: auto;
    height: auto;
}

/* Skatās maršruta meklēšanas sadaļu */
#maršrutuMeklēšanasSadaļa {
    display: none;
    position: relative;
    justify-self: center;
    max-width: 750px;
    width: auto;
    max-height: 200px;
    height: auto;
    border: 2px solid black;
    background-color: #015224;
    color: white;
    margin-top: 20px;
}

/* Skatās maršruta meklēšanas sadaļu gaišajā režīmā */
.light-mode #maršrutuMeklēšanasSadaļa {
    background-color: #0DCBCE;
    color: black;
}

/* Skatās meklēšanas sadaļas titulu */
#meklesanasTituls {
    text-align: center;
}

/* Skatās maršruta meklēšanas sadaļas atcelt pogu */
#atcelt {
    position: absolute;
    top: 2px;
    right: 0;
    background-color: transparent;
    border: none;
}

/* SKatās maršruta meklēšanas sadaļas atcelt pogas ikonu */
#atceltIcona {
    object-fit: cover;
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
}

/* Skatās maršruta meklēšanas formu */
#meklesanasForma {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

/* Skatās pogu ar kuru var apgriezt stacijas otrādāk */
#apgriezt {
    display: flex;
    position: relative;
    background-color: #1f7a1f;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    top: 23px;
    border: 2px solid black;
}

/* Skatās pogu ar kuru var apgriezt stacijas otrādāk gaišajā režīmā*/
.light-mode #apgriezt {
    background-color: white;
}

/* Skatās pogu ar kuru var apgriezt stacijas otrādāk, ja uz tām pieliks kursoru */
#apgriezt:hover {
    border-color: #0a58ca;
}

/* Skatās stacijas apgriešanas pogas ikonu */
#apgireztIcona {
    object-fit: cover;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    padding-right: 5px;
}

/* Skatās meklēšanas formas meklēt pogu */
#meklet {
    background-color: #1f7a1f;
    border: 2px solid black;
    color: white;
    margin-bottom: 40px;
    position: relative;
    top: 23px;
}

/* Skatās meklēšanas formas meklēt pogu gaišajā režīmā */
.light-mode #meklet {
    background-color: white;
    color: black;
}

/* Skatās meklēšanas formas meklēt pogu, ja uz tām pieliks kursoru */
#meklet:hover {
    border-color: #0a58ca;
}

/* Skatās meklēšanas formas meklēt pogu, ja uz tām pieliks kursoru gaišajā režīmā*/
.light-mode #meklet:hover {
    color: #073C8D
}

/* Skatās vietu kurā ir sākuma un beigu stacijas, datums un to ikonas */
#virsInfo {
    color: white;
    display: flex;
    justify-self: center;
    margin-top: 50px;
    max-width: 400px;
    width: auto;
    white-space: nowrap;
    position: relative;
    right: 27px;
}

/* Skatās vietu kurā ir sākuma un beigu stacijas, datums un to ikonas gaišajā režīmā */
.light-mode #virsInfo {
    color: black;
}

/* Skatās sākuma, beigu staciju un datuma ikonas */
.ikona {
    max-width: 25px;
    max-height: 25px;
    height: auto;
    width: auto;
    margin-right: 10px;
    margin-left: 20px;
}

/* Skatās kļūdas ziņojumu */
.kluduZinojums {
    display: block;
    justify-self: center;
    max-height: 250px;
    max-width: 500px;
    width: auto;
    height: auto;
    border: 2px solid black;
    color: white;
    background-color: #015224;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* Skatās kļūdas ziņojumu gaišajā režīmā*/
.light-mode .kluduZinojums {
    color: black;
    background-color: #0DCBCE;
}

/* Skatās par kļūdas ziņojuma ikonu */
.kluda {
    display: flex;
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
    justify-self: center;
    margin-top: 20px;
}

/* Skatās par kļūdas ziņojumu */
.kluduTeksts {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;
}

/* Skatās vilciena kustības grafika nosaukuma sadaļu */
#tabulasNosaukums {
    display: block;
    justify-self: center;
    max-width: 450px;
    width: auto;
    margin-top: 20px;
}

/* Skatās vilciena kustības grafika nosaukumu */
#marsrutuTabulasNosaukums {
    color: white;
}

/* Skatās vilciena kustības grafika nosaukumu gaišajā režīmā */
.light-mode #marsrutuTabulasNosaukums {
    color: black;
}

/* Skatās maršruta tabulas sadaļu */
#marsrutuTabulasLaukums {
    display: flex;
    position: relative;
    justify-self: center;
    margin: 30px 0;
}

/* Skatās pašu maršruta tabulas */
#marsrutuTabula {
    border: 3px solid black;
    background-color: #015224;
    color: white;
}

/* Skatās pašu maršruta tabulas gaišajā režīmā */
.light-mode #marsrutuTabula {
    background-color: #0DCBCE;
    color: black;
}

/* Skatās maršruta tabulas kolonnu nosaukumus */
.marsruti {
    padding: 0 40px;
    border-left: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Skatās maršruta tabulas maršruta nosaukumus */
#marsrutaNosaukums {
    padding: 0 25px;
}

/* Skatās maršruta tabulas statusa kolonnu nosaukumu */
#statuss {
    padding: 10px 50px;
    border-left: 3px solid black;
}

/* Skatās maršruta tabulas vērtības */
#marsrutuTabula tbody tr td {
    border: 3px solid black;
    text-align: center;
}

/* Skatās pirkt biļetes pogas */
.pirktPogas {
    display: flex;
    background-color: transparent;
    border: none;
    justify-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Skatās pirkt biļetes ikonas */
#pirktIkona {
    max-height: 35px;
    max-width: 35px;
    height: auto;
    width: auto;
}

/* Skatās vairāk informācijas sadaļas pogas */
.infoPogas {
    display: flex;
    background-color: transparent;
    border: none;
    justify-self: center;
}

/* Skatās vairāk informācijas ikonas */
#infoIkona {
    max-height: 35px;
    max-width: 35px;
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Skatās kājeni tikai vilciena maršruta lapā */
footer {
    width: 100%;
    bottom: 0;
}

/* Skatās mobīlo stilu */
@media (max-width: 768px) {
    
    /* Skatās maršruta meklēšanas sadaļu mobīlajā ekrānā */
    #maršrutuMeklēšanasSadaļa {
        max-width: 95%;
        max-height: 600px;
        width: 95%;
        padding: 15px 10px;
    }

    /* Skatās maršruta meklēšanas formu mobīlajā ekrānā */
    #meklesanasForma {
        flex-direction: column;
    }

    /* Skatās maršruta meklēšanas formas elementus mobīlajā ekrānā */
    #meklesanasForma .mb-3 {
        width: 100%;
    }

    /* Skatās pogu ar kuru var apgriezt stacijas otrādāk mobīlajā ekrānā */
    #apgriezt {
        top: 0;
        margin: 10px auto;
        max-width: 45px;
        max-height: 45px;
    }

    /* Skatās meklēšanas formas meklēt pogu mobīlajā ekrānā */
    #meklet {
        top: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    /* Skatās vietu kurā ir sākuma un beigu stacijas, datums un to ikonas mobīlajā ekrānā */
    #virsInfo {
        overflow-x: auto;
        right: 20px;
    }

    /* Skatās vilciena kustības grafika nosaukuma sadaļu mobīlajā ekrānā */
    #tabulasNosaukums {
        max-width: 90%;
        text-align: center;
    }

    /* Skatās vilciena kustības grafika nosaukumu mobīlajā ekrānā */
    #marsrutuTabulasNosaukums {
        font-size: 24px;
        margin-right: 30px;
        text-align: center;
    }

    /* Skatās kļūdas ziņojumu mobīlajā ekrānā */
    .kluduZinojums {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Skatās par kļūdas ziņojumu mobīlajā ekrānā */
    .kluduTeksts {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Skatās maršruta tabulas sadaļu mobīlajā ekrānā */
    #marsrutuTabulasLaukums {
        overflow-x: auto;
        width: 100%;
        padding: 0 10px;
    }

    /* Skatās pašu maršruta tabulas mobīlajā ekrānā */
    #marsrutuTabula {
        min-width: 700px;
    }

    /* Skatās maršruta tabulas kolonnu nosaukumus mobīlajā ekrānā */
    .marsruti {
        padding: 10px 15px;
        text-align: center;
    }

    /* Skatās maršruta tabulas statusa kolonnu nosaukumu mobīlajā ekrānā */
    #statuss {
        padding: 10px 15px;
    }

    /* Skatās maršruta tabulas maršruta nosaukumus mobīlajā ekrānā */
    #marsrutaNosaukums {
        padding: 0 10px;
    }

    /* Skatās maršruta tabulas maršruta kopējā ceļa laiku un tās kolonnu virsrakstu mobīlajā ekrānā */
    #marsrutaLaiks, #laikaTeksts {
        padding: 0 20px;
    }

    /* Skatās maršruta tabulas maršruta kopējā ceļa laiku mobīlajā ekrānā */
    #marsrutaLaiks {
        white-space: nowrap;
    }

    /* Skatās pogu kura parādīs meklēšanas sadaļu mobīlajā ekrānā */
    #atvērtMeklšanuPoga {
        max-width: 60px;
    }

    /* Skatās pogas ikonu kura parādīs meklēšanas sadaļu mobīlajā ekrānā */
    #atvērtmeklēšanuIkona {
        max-width: 60px;
        max-height: 40px;
    }

    /* Skatās pirkt biļetes un vairāk informācijas sadaļas ikonas mobīlajā ekrānā */
    #pirktIkona, #infoIkona {
        max-width: 30px;
        max-height: 30px;
    }

    /* Skatās kājeni tikai vilciena maršruta lapā mobīlajā ekrānā */
    footer {
        top: 100px;
    }
}