/* Skatās centrālo lauku */
#laukums {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    top: 150px;
    gap: 10px;
    border: 2px solid black;
    max-width: 700px;
    max-height: 500px;
    height: auto;
    width: auto;
    margin-bottom: 388px; 
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    background-color: #015224;
    color: white;
}

/* Skatās centrālo lauku gaišajā režīmā */
.light-mode #laukums {
    background-color: #0DCBCE;
    color: black;
}

/* Skatās doties atpakaļ pogu */
#laukums a {
    position: relative;
    margin-top: 20px;
    background-color: #1f7a1f;
    border: 2px solid black; 
}

/* Skatās doties atpakaļ pogu gaišajā režīmā */
.light-mode #laukums a {
    background-color: white;
    color: black;
}

/* Skatās doties atpakaļ pogu, ja uz tām pieliks kursoru */
#laukums a:hover {
    border-color: #0a58ca;
}

/* Skatās doties atpakaļ pogu, ja uz tām pieliks kursoru gaišajā režīmā */
.light-mode #laukums a:hover {
    color: #073C8D;
}

/* Skatās mobīlo stilu */
@media (max-width: 768px) {

    /* Skatās centrālo lauku mobīlo stilu */
    #laukums {
        top: 30px;
        width: 90%;
        max-width: 100%;
        max-height: none;
        margin-top: 170px;
        margin-bottom: 300px;
        padding: 15px;
        text-align: center;
    }

    /* Skatās virsrakstu mobīlo stilu */
    #laukums h2 {
        font-size: 22px;
        line-height: 1.4;
    }

    /* Skatās doties atpakaļ pogu mobīlo stilu */
    #laukums a {
        width: 100%;
        max-width: 250px;
        padding: 10px;
        text-align: center;
    }
}